{% extends "layout.twig" %}

{% block content %}

	{% include 'includes/header.twig' %}

	<section class="template-content  template-content--blog">

		<div class="full-width">

			{{widget('blogpost', 'blogpost', {})|raw}}

		</div>

	</section>

	{% include 'includes/footer.twig' %}

{% endblock %}